.portfolio-about {
  background-color: #fafafa;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    h2 {
      font-size: 4.5rem;
    }
    p {
      span {
        font-size: 2rem;
      }
    }
    img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
    }
  }

  &__text-container {
    width: 50%;
  }

  &__img-container {
    width: 50%;
  }
}
