.portfolio-about {
  background-color: #fafafa;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    h2 {
      font-size: 4.5rem;
    }
    p {
      span {
        font-size: 2rem;
      }
    }
    img {
      width: 350px;
      height: 350px;
      border-radius: 50%;
    }
  }

  &__text-container {
    width: 50%;
    text-align: end;
  }

  &__img-container {
    width: 50%;
  }
}
@media (max-width: 1366px) {
  .portfolio-about {
    padding: 40px 0;
  }
}

@media (max-width: 576px) {
  .portfolio-about {
    &__container {
      flex-wrap: wrap;
    }
    &__text-container {
      width: 100%;
      text-align: center;
    }
    &__img-container {
      width: 100%;
    }
  }
}
