.portfolio-cta {
  padding-bottom: 40px;
  &__container {
    margin: auto;
    width: 600px;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0px rgb(0 0 0 / 20%);
    text-align: center;
  }
}

@media (max-width: 576px) {
  .portfolio-cta {
    &__container {
      width: 350px;
    }
  }
}
