.portfolio-header {
  background-color: #fff;

  &__nav {
    // border-bottom: 0.5px solid gray;
    .burger-menu {
      display: none;
    }
    top: 0;
    div {
      ul {
        display: flex;
        justify-content: flex-end;
        gap: 50px;
        li {
          a {
            color: #333;
          }
        }
      }
    }
    div {
      ul {
        li:hover {
          a {
            opacity: 0.4;
            color: #e9c51a;
          }
        }
      }
    }
  }

  &__banner {
    position: relative;
    text-align: center;
    h1 {
      font-size: 5.5rem;
    }
    h2 {
      font-size: 2rem;
    }

    img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
    }
  }
}

@media (max-width: 1366px) {
  .portfolio-header {
    &__banner {
      padding-top: 10px;

      h1 {
        font-size: 3.5rem;
      }

      h2 {
        font-size: 1.5rem;
      }

      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
    }

    &__img-container {
      padding-top: 5px;
      padding-bottom: 10px;
    }
  }
}

@media (max-width: 576px) {
  .portfolio-header {
    &__nav {
      position: sticky;
      background-color: #fff;
      height: 75px;
      top: 0;
      left: 0;
      z-index: 9999;
      .burger-menu {
        display: block;
        padding: 20px;

        i {
          font-size: 2rem;
        }
      }
      .nav-items {
        display: none;
        gap: 20px !important;
        background-color: #fff;
        margin: 0 !important;
        flex-direction: column;
        padding-left: 10px;
        padding-top: 10px;
        position: fixed;
        z-index: 10000;
        // overflow: hidden;
        width: 200px;
        transform: translateX(-200px);
        li {
          padding: 15px 0;
        }
      }
      .nav-items.active {
        display: block;
      }
    }
  }
}
