.portfolio-portfolio {
  &__container {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-size: 4.5rem;
    }
    p {
      span {
        font-size: 2rem;
      }
    }
  }

  &__text-container {
    width: 50%;
    overflow: hidden;
  }

  &__img-container {
    width: 50%;
    position: relative;
    img {
      width: 80%;
      border-radius: 5px;
    }
    .portfolio-img-right {
      width: 80%;
      padding-top: 30px;
      position: relative;
      background-color: #fff;
      border-radius: 5px;
      padding: 5px 5px 0 5px;
      box-shadow: 0 1px 4px 0px rgb(0 0 0 / 20%);
      animation: image-load-2 500ms ease-in-out;
      img {
        width: 100%;
      }
    }
    .portfolio-img-left {
      background-color: #fff;
      border-radius: 5px;
      padding: 5px 5px 0 5px;
      position: absolute;
      top: -10%;
      left: 0;
      width: 40%;
      box-shadow: 0 1px 4px 0px rgb(0 0 0 / 20%);
      transform: translateX(117%);
      animation: image-load 600ms ease-in-out;
      img {
        width: 100%;
        box-shadow: none;
      }
    }
  }
  &__project-container {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &__project {
    position: relative;
    width: 30%;
    padding-bottom: 30px;
    img {
      width: 100%;
      border-radius: 5px;
      box-shadow: 0 1px 4px 0px rgb(0 0 0 / 20%);
      // border: 1px solid red;
    }

    .project-text {
      // border: 1px solid blue;
      background-color: #333;
      opacity: 0.8;
      bottom: 0;
      position: absolute;
      bottom: 0;
      height: 75px;
      width: 100%;
      visibility: hidden;
      padding: 10px;
      border-radius: 0 0 5px 5px;
      p {
        font-weight: 500;
        color: #fff;
        font: 1rem;
        span {
          font-size: 0.875rem;
          margin: 0;
          font-weight: 200;

          a {
            color: #fff;
          }
        }
      }
    }
  }
  &__project:hover .project-text {
    visibility: visible;
    animation: project-info 200ms ease-in-out;
    transform: translateY(-50%);
  }
  @keyframes image-load {
    0% {
      transform: translateX(-101%);
    }

    100% {
      transform: translateX(117%);
    }
  }

  @keyframes image-load-2 {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0%);
    }
  }

  @keyframes project-info {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-50%);
    }
  }

  &__project:nth-child(1) {
    transition-delay: 200ms;
  }
  &__project:nth-child(2) {
    transition-delay: 400ms;
  }
  &__project:nth-child(3) {
    transition-delay: 600ms;
  }
  &__project:nth-child(4) {
    transition-delay: 800ms;
  }
  &__project:nth-child(5) {
    transition-delay: 1000ms;
  }
  &__project:nth-child(6) {
    transition-delay: 1200ms;
  }

  .projects-headline {
    font-size: 0.865rem;
    text-align: center;
    position: relative;
  }
  .projects-headline::before {
    content: "";
    width: 300px;
    height: 1px;
    background-color: #dddddd;
    position: absolute;
    left: 10%;
    bottom: 50%;
  }
  .projects-headline::after {
    content: "";
    width: 300px;
    height: 1px;
    background-color: #dddddd;
    position: absolute;
    right: 10%;
    bottom: 50%;
  }
}

@media (max-width: 1366px) {
  .portfolio-portfolio {
    padding: 20px 0;
  }
}

@media (max-width: 576px) {
  .portfolio-portfolio {
    &__container {
      flex-wrap: wrap;
    }
    &__text-container {
      width: 100%;
      text-align: center;
    }

    &__project {
      width: 100%;
    }

    .projects-headline::before {
      content: "";
      width: 55px;
    }
    .projects-headline::after {
      content: "";
      width: 55px;
    }
  }
}
