.portfolio-skills {
  background-color: #fafafa;
  border-bottom: #dddddd solid 1px;
  h2 {
    font-size: 4.5rem;
  }
  p {
    span {
      font-size: 2rem;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__text-container {
    width: 50%;
  }

  &__graph-container {
    width: 50%;
    .bag-chart {
      position: relative;
      display: flex;
      border-bottom: #dddddd solid 1px;
    }
    .axis-line {
      position: absolute;
      top: 0;
      left: 17%;
      width: 500px;
      height: 1px;
      background-color: #ddd;
    }
    .axis-line-2 {
      top: 25%;
    }
    .axis-line-3 {
      top: 50%;
    }
    .axis-line-4 {
      top: 75%;
    }

    .axis {
      border-right: #dddddd solid 1px;
      color: #333;
      div {
        text-align: end;
        margin-bottom: 90px;
        padding-right: 10px;
      }
    }

    li {
      // border: 1px solid red;
      margin-left: 10px;
      align-self: flex-end;
      color: #fff;
      opacity: 0.9;

      h3 {
        font-weight: 700;
        font-size: 4rem;
        text-align: center;
        span {
          font-weight: 400;
          font-size: 0.875rem;
        }
      }
    }
    li.categories {
      z-index: 2;
      position: relative;
      text-align: center;
      width: 150px;
      h3 {
        position: absolute;
        bottom: 25px;
        padding-left: 25px;
        animation: graph-bar-text 300ms ease-in-out;
      }
      div.category-text {
        position: absolute;
        bottom: 2%;
      }
    }

    li.categories:nth-child(2) {
      div.category-text {
        left: 24%;
        bottom: 5%;
      }
    }
    li.categories:nth-child(4) {
      div.category-text {
        left: 24%;
        bottom: 5%;
      }
    }
  }

  li.dark-bg {
    background-color: #333;
  }
  li.yellow-bg {
    background-color: #e9c51a;
  }

  @keyframes graph-bar {
    0% {
      height: 100px;
    }

    100% {
      height: 400px;
    }
  }
  @keyframes graph-bar-2 {
    0% {
      height: 100px;
    }

    100% {
      height: 455px;
    }
  }
  @keyframes graph-bar-text {
    0% {
      bottom: 20px;
    }
    100% {
      bottom: 25px;
    }
  }
}
@media (max-width: 1366px) {
  .portfolio-skills {
    padding: 20px 0;
    &__graph-container {
      .bag-chart {
        .axis-line {
          width: 450px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .portfolio-skills {
    &__container {
      flex-wrap: wrap;
    }
    &__text-container {
      width: 100%;
      text-align: center;
    }
    &__graph-container {
      width: 100%;
      .bag-chart {
        padding: 0;
        .axis-line {
          width: 300px;
        }

        li {
          h3 {
            font-size: 3rem;
            text-align: center;
            padding: 5px;
            span {
              font-weight: 400;
              font-size: 0.875rem;
            }
          }
          div.category-text {
            font-size: 0.875rem;
          }
        }
        li.categories:nth-child(2) {
          div.category-text {
            left: 5px !important;
          }
        }
        li.categories:nth-child(4) {
          div.category-text {
            left: 9px !important;
          }
        }
      }
    }
  }
}
